@use "util/global" as *;

.header {
  padding-block: rem(32px) rem(568px);
  margin-bottom: rem(-544px);
  --bg-opacity: 1;
  background-image: $bg-gradient;
  border-radius: 0 0 rem(35px) rem(35px);
  @media (min-width: $bp-t) {
    padding-block: rem(32px) rem(569.64px);
    margin-bottom: rem(-528px);
  }
  @media (min-width: $bp-d) {
    padding: rem(75px) rem(798px) rem(598px) rem(116px);
    margin: 0 rem(438px) rem(-570px) rem(24px);
  }
}

.header-logo {
  width: rem(40px);
  aspect-ratio: 1 / 1;
  margin-inline: auto;
  @media (min-width: $bp-d) {
    width: rem(64px);
  }
}

.main-top {
  display: flex;
  flex-direction: column;
  gap: rem(48px);
  margin: 0 rem(24px) rem(72px);
  @media (min-width: $bp-t) {
    gap: rem(40px);
    margin: 0 rem(43px) rem(96px) rem(39px);
  }
  @media (min-width: $bp-d) {
    flex-direction: row;
    gap: rem(130px);
    align-items: center;
    margin: 0 auto rem(151px);
    max-width: rem(1160px);
  }
}

.block-intro {
  text-align: center;
  @media (min-width: $bp-d) {
    min-width: rem(465px);
    text-align: left;
  }
}

.intro-heading {
  margin: 0 auto rem(24px);
  max-width: rem(325px);
  @media (min-width: $bp-t) {
    max-width: rem(350px);
  }
  @media (min-width: $bp-d) {
    margin: 0 0 rem(35px);
    max-width: none;
  }
}

.block-meaning {
  margin-bottom: rem(71.61px);
  @media (min-width: $bp-t) {
    display: flex;
    align-items: center;
    gap: rem(75px);
    margin-bottom: rem(96px);
  }
  @media (min-width: $bp-d) {
    align-items: flex-end;
    gap: rem(131px);
    margin-inline: rem(140px);
    position: relative;
    &:before {
      content: url("../assets/images/pattern-curved-line-left.svg");
      position: absolute;
      width: rem(85px);
      height: rem(200px);
      right: rem(27px);
      top: rem(-52px);
    }
  }
}

.image-container {
  position: relative;
  width: 100%;
  margin-bottom: rem(48px);
  @media (min-width: $bp-t) {
    width: rem(319px);
    height: rem(411.09px);
    margin: 0;
  }
  @media (min-width: $bp-d) {
    width: rem(564px);
    height: rem(533px);
  }
  &:before {
    content: "";
    width: 100%;
    height: rem(258px);
    position: absolute;
    bottom: 0;
    background-color: var(--image-bg);
    border-radius: rem(32px);
    z-index: -1;
    @media (min-width: $bp-t) {
      height: rem(299.255px);
      border-radius: 0 rem(32px) rem(32px) 0;
      //may not be necessary, if box is shifted out
    }
    @media (min-width: $bp-d) {
      height: rem(388px);
      border-radius: rem(32px);
    }
  }
}

.image {
  width: rem(311.17px);
  height: rem(354.388px);
  margin-inline: auto;
  @media (min-width: $bp-t) {
    width: rem(360.957px);
    height: rem(411.09px);
    object-fit: cover;
    object-position: rem(-42px) 0;
  }
  @media (min-width: $bp-d) {
    width: rem(468px);
    height: rem(533px);
    left: auto;
    object-position: 0 0;
  }
}

.section-meaning {
  margin-inline: rem(24px);
  @media (min-width: $bp-t) {
    margin-inline: 0 rem(43px);
    flex: 0 0 rem(331px);
  }
  @media (min-width: $bp-d) {
    margin: 0;
    flex-basis: rem(465px);
    & p {
      margin-bottom: rem(40px);
      //centered to the image background
    }
  }
}

.subheading {
  margin-bottom: rem(32px);
  @media (min-width: $bp-d) {
    margin-bottom: rem(35px);
  }
}

// --DONE--

.section-tips {
  padding: rem(56px) rem(28.96px) rem(56px) rem(19.04px);
  margin-bottom: rem(72px);
  --bg-opacity: 0.25;
  background-image: $bg-gradient;
  display: flex;
  flex-direction: column;
  gap: rem(40px);
  @media (min-width: $bp-t) {
    padding: rem(60px) rem(43px) rem(60px) rem(39px);
    margin-bottom: rem(96px);
  }
  @media (min-width: $bp-d) {
    margin: 0 rem(24px) rem(120px);
    padding: rem(72px) rem(116px) rem(96px);
    border-radius: rem(35px);
    flex-direction: row;
    gap: rem(32px);
  }
}

.tip {
  img {
    width: rem(64px);
    aspect-ratio: 1 / 1;
    margin-bottom: rem(32px);
    @media (min-width: $bp-t) {
      margin: 0;
    }
    @media (min-width: $bp-d) {
      margin-bottom: rem(45px);
    }
  }

  h3 {
    margin-bottom: rem(24px);
  }

  @media (min-width: $bp-t) and (max-width: ($bp-d - 1px)) {
    display: flex;
    gap: rem(40px);
    align-items: center;
  }
}

// --DONE --

.section-limitations {
  margin-inline: rem(19px) rem(29px);
  @media (min-width: $bp-t) {
    margin-inline: rem(39px) rem(43px);
  }
  @media (min-width: $bp-d) {
    margin-inline: rem(140px);
    position: relative;
  }
}

.limitations-intro {
  text-align: center;
  margin-bottom: rem(56px);
  @media (min-width: $bp-d) {
    position: absolute;
    left: 0;
    top: 0;
    max-width: rem(564px);
    text-align: left;
    &:after {
      content: url("../assets/images/pattern-curved-line-right.svg");
      width: rem(94px);
      height: rem(122px);
      position: absolute;
      top: calc(100% + rem(67px));
      left: rem(165px);
    }
  }
}

.limitations-list {
  display: flex;
  flex-direction: column;
  gap: rem(16px);
  @media (min-width: $bp-t) {
    column-gap: rem(15px);
    row-gap: rem(24px);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media (min-width: $bp-d) {
    max-width: rem(961px);
    margin-left: auto;
    justify-content: flex-end;
    gap: rem(32px);
  }
}

.limitation-card {
  background-color: var(--card-bg);
  box-shadow: 16px 32px 56px 0px var(--box-shadow);
  border-radius: rem(16px);
  padding: rem(24px);

  img {
    width: rem(32px);
    aspect-ratio: 1 / 1;
  }

  div {
    display: flex;
    align-items: center;
    gap: rem(16px);
    margin-bottom: rem(16px);
  }

  @media (min-width: $bp-t) {
    padding: rem(32px);
    max-width: rem(335.5px);
  }
  @media (min-width: $bp-d) {
    max-width: rem(365px);
    &:first-child {
      margin-inline: rem(497px) rem(99px);
    }
    &:last-child {
      margin-right: rem(199px);
    }
  }
}
