@use "util/global" as *;

.header {
  padding-block: rem(32px) rem(568px);
  margin-bottom: lerp_clamp($bp-m, rem(-544px), $bp-t, rem(-528px));
  --bg-opacity: 1;
  background-image: $bg-gradient;
  border-radius: 0 0 rem(35px) rem(35px);
  @media (min-width: $bp-layout2) {
    padding: {
      top: rem(75px);
      bottom: lerp_max($bp-t, rem(622px), $bp-d, rem(598px));
      //adjused to logo size
      left: lerp_min($bp-layout2, rem(16px), $bp-d, rem(116px));
    }
    margin: 0 rem(438px) rem(-570px) rem(24px);
  }
}

.header-logo {
  width: rem(40px);
  aspect-ratio: 1 / 1;
  margin-inline: auto;
  @media (min-width: $bp-t) {
    width: lerp_clamp($bp-t, rem(40px), $bp-d, rem(64px));
  }
  @media (min-width: $bp-layout2) {
    margin: 0;
  }
}

.main-top {
  display: flex;
  flex-direction: column;
  gap: rem(48px);
  margin: {
    inline: lerp_max($bp-m, rem(24px), $bp-t, rem(41px));
    bottom: rem(72px);
  }
  @media (min-width: $bp-t) {
    gap: rem(40px);
    margin: {
      inline: lerp($bp-t, rem(41px), $bp-d, rem(141px));
      bottom: rem(96px);
    }
  }
  @media (min-width: $bp-layout2) {
    flex-direction: row;
    gap: lerp_min($bp-layout2, rem(50px), $bp-d, rem(130px));
    align-items: center;
    margin: 0 auto rem(151px);
    max-width: lerp_min($bp-layout2, rem(1020px), $bp-d, rem(1160px));
  }
}

.block-intro {
  text-align: center;
  @media (min-width: $bp-layout2) {
    text-align: left;
  }
}

.block-meaning {
  margin-bottom: rem(71.61px);
  @media (min-width: $bp-t) {
    display: flex;
    align-items: center;
    gap: rem(75px);
    margin-bottom: rem(96px);
  }
  @media (min-width: $bp-layout2) {
    align-items: flex-end;
    gap: lerp_min($bp-layout2, rem(50px), $bp-d, rem(131px));
    margin-inline: lerp_min($bp-layout2, rem(40px), $bp-d, rem(140px));
    position: relative;
    &:before {
      content: url("../assets/images/pattern-curved-line-left.svg");
      position: absolute;
      width: rem(85px);
      height: rem(200px);
      right: rem(27px);
      top: rem(-52px);
    }
  }
}

.image-container {
  position: relative;
  width: auto;
  margin-bottom: rem(48px);
  @media (min-width: $bp-layout1) {
    margin-inline: lerp_clamp($bp-layout1, rem(0px), $bp-t, rem(41px));
  }
  @media (min-width: $bp-t) {
    width: lerp_clamp($bp-t, rem(319px), $bp-layout2, rem(470px));
    height: lerp_clamp($bp-t, rem(411.09px), $bp-layout2, rem(533px));
    margin: 0;
  }
  @media (min-width: $bp-layout2) {
    width: rem(564px);
    height: rem(533px);
  }
  &:before {
    content: "";
    width: 100%;
    height: rem(258px);
    position: absolute;
    bottom: 0;
    background-color: var(--image-bg);
    border-radius: rem(32px);
    z-index: -1;
    @media (min-width: $bp-t) {
      height: lerp_clamp($bp-t, rem(299.255px), $bp-layout2, rem(387px));
      border-radius: 0 rem(32px) rem(32px) 0;
    }
    @media (min-width: $bp-layout2) {
      height: rem(388px);
      border-radius: rem(32px);
    }
  }
}

.image {
  width: lerp_clamp($bp-m, rem(311.17px), $bp-t, rem(360.957px));
  height: lerp_clamp($bp-m, rem(354.388px), $bp-t, rem(411.09px));
  object-fit: cover;
  margin-inline: auto;
  @media (min-width: $bp-t) {
    object-position: rem(-42px) 0;
    width: lerp_clamp($bp-t, rem(360.957px), $bp-layout2, rem(468px));
    height: lerp_clamp($bp-t, rem(411.09px), $bp-layout2, rem(533px));
    margin-inline: unset;
  }
  @media (min-width: $bp-layout2) {
    width: rem(468px);
    height: rem(533px);
    left: auto;
    object-position: 0 0;
    margin-inline: auto;
  }
}

.section-meaning {
  margin-inline: lerp_max($bp-m, rem(24px), $bp-t, rem(43px));
  @media (min-width: $bp-t) {
    margin: {
      left: 0;
      right: lerp_clamp($bp-t, rem(43px), $bp-layout2, rem(90px));
    }
    flex: 1 0 rem(331px);
  }
  @media (min-width: $bp-layout2) {
    margin: 0;
    flex: 0 0 rem(465px);
    padding-bottom: rem(40px);
  }
}

.section-tips {
  padding: {
    block: rem(56px);
    left: lerp_clamp($bp-m, rem(19.04px), $bp-t, rem(41px));
    right: lerp_clamp($bp-m, rem(28.96px), $bp-t, rem(41px));
  }
  margin-bottom: rem(72px);
  --bg-opacity: 0.25;
  background-image: $bg-gradient;
  display: flex;
  flex-direction: column;
  gap: rem(40px);
  @media (min-width: $bp-t) {
    padding: {
      block: rem(60px);
      inline: lerp_min($bp-t, rem(41px), $bp-layout2, rem(90px));
    }
    margin-bottom: rem(96px);
  }
  @media (min-width: $bp-layout2) {
    margin: 0 rem(24px) rem(120px);
    padding: {
      top: rem(72px);
      inline: lerp_min($bp-layout2, rem(32px), $bp-d, rem(116px));
      bottom: rem(96px);
    }
    border-radius: rem(35px);
    flex-direction: row;
    gap: lerp_min($bp-layout2, rem(20px), $bp-d, rem(32px));
  }
}

.tip {
  img {
    width: rem(64px);
    aspect-ratio: 1 / 1;
    margin-bottom: rem(32px);
    @media (min-width: $bp-layout1) {
      margin-bottom: 0;
    }
    @media (min-width: $bp-layout2) {
      margin-bottom: rem(45px);
    }
  }

  h3 {
    margin-bottom: rem(24px);
  }

  @media (min-width: $bp-layout1) AND (max-width: ($bp-layout2 - 0.0001px)) {
    display: flex;
    gap: lerp_clamp($bp-layout1, rem(40px), $bp-layout2, rem(70px));
    align-items: center;
  }
}

.section-limitations {
  margin-inline: lerp_clamp($bp-m, rem(24px), $bp-t, rem(41px));
  @media (min-width: $bp-t) {
    margin-inline: lerp_clamp($bp-t, rem(41px), $bp-layout2, rem(90px));
  }
  @media (min-width: $bp-layout2) {
    margin-inline: lerp_clamp($bp-layout2, rem(40px), $bp-d, rem(140px));
    position: relative;
  }
  @media (min-width: $bp-d) {
    margin-inline: auto;
    max-width: rem(1160px);
  }
}

.limitations-intro {
  text-align: center;
  margin-bottom: rem(56px);
  @media (min-width: $bp-layout2) {
    position: absolute;
    left: 0;
    top: 0;
    max-width: rem(564px);
    text-align: left;
    &:after {
      content: url("../assets/images/pattern-curved-line-right.svg");
      width: rem(94px);
      height: rem(122px);
      position: absolute;
      top: calc(100% + rem(67px));
      left: lerp_clamp($bp-layout2, rem(80px), $bp-d, rem(165px));
    }
  }
}

.limitations-list {
  display: flex;
  flex-direction: column;
  row-gap: lerp_clamp($bp-m, rem(16px), $bp-t, rem(24px));
  @media (min-width: $bp-layout1) {
    column-gap: rem(15px);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media (min-width: $bp-layout2) {
    max-width: rem(961px);
    justify-content: flex-end;
    margin-left: auto;
    gap: rem(32px);
  }
}

.limitation-card {
  background-color: var(--card-bg);
  box-shadow: 16px 32px 56px 0px var(--box-shadow);
  border-radius: rem(16px);
  padding: lerp_clamp($bp-m, rem(24px), $bp-t, rem(32px));

  img {
    width: rem(32px);
    aspect-ratio: 1 / 1;
  }

  div {
    display: flex;
    align-items: center;
    gap: rem(16px);
    margin-bottom: rem(16px);
  }

  @media (min-width: $bp-layout1) {
    flex: 1 0 lerp_clamp($bp-layout1, rem(255px), $bp-t, rem(335.5px));
    max-width: lerp_clamp($bp-layout1, rem(300px), $bp-t, rem(365px));
  }

  @media (min-width: $bp-layout2) {
    max-width: rem(365px);
    &:first-child {
      margin: {
        left: 100%;
        right: lerp_clamp($bp-layout2, rem(40px), $bp-d, rem(99px));
      }
    }
    &:last-child {
      margin-right: lerp_clamp($bp-layout2, rem(100px), $bp-d, rem(199px));
    }
  }
}
