$REM: 16;

// Colors
$ultramarine-blue: hsl(227, 92%, 58%);
$gunmetal: hsl(215, 31%, 21%);
$dark-electric-blue: hsl(215, 17%, 45%);
$gainsboro: hsl(200, 24%, 88%);
$lavender: hsl(220, 43%, 92%);
$ceil: hsla(211, 41%, 69%, 0.25);
$white: hsl(0, 0%, 100%);

$bg-gradient: linear-gradient(
  290deg,
  hsl(216, 95%, 92%, var(--bg-opacity)) 0%,
  hsla(183, 95%, 92%, 0) 100%
);

$result-bg-gradient: linear-gradient(
  90deg,
  hsl(227, 92%, 58%) 0%,
  hsl(227, 100%, 67%) 100%
);
